.container {
  display: grid;
  /* Style rows and columns */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
}

#title {
  grid-column-end: -1 /*this should span the entire page, look into using negative numbers in grid-column-end*/;
  grid-column-start: span auto-fit;
}

.friend {

}

.sibling {
  grid-column-start: span 2;
}

.aunt {
  grid-row-start: span 2;
}

.uncle {
  grid-row-start: span 2;
}

.grandparent {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.cousin{

}
